body{
    background-color: rgb(19, 1, 32);
    background-image: "breating.gif";
}
a{
    font-family: 'Times New Roman', Times, serif;
    color: ivory;
    text-decoration: none;
    font:bold;
    align-items: center;
    text-align: center;

}
div{
    padding: 5px;
    margin: 5px;
}
#card {
    background-color: rgb(16, 20, 48);
    height: 120px;
    width: 90px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(55, 49, 137);
    border-radius: 6px;
    display: inline-block;
}
