@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
.top{
  width:100%;
  background:#000000DE;
  backdrop-filter:blur(10px);
  position:fixed;
  padding:3px 15px;
  display:flex;
  align-items:center;
  z-index: 100000;
}
.top .logo{
  font-size:1.3em;
  color:#F5F5F7 ;
}
.top nav{
}
.top nav ul{
  display:flex;
  list-style:none;
  align-items:center;
}
.top nav ul li{
  font-size:0.7em;
  color:#F5F5F7 ; 
  margin-left:30px; 
}
.fa-search {
  font-size:30px;
  font-weight:27;
}
.top nav ul li a{
  color:#F5F5F7 ; 
  text-decoration:none;
}
.cart{
  position:absolute;
  right:40px;
}
.cart .rec{
  width:15px;
  height:14px;
  border:1px solid #F5F5F7;
  border-radius:3px;
  position:absolute;
  background:#1B1B1C;
  top:-2px;
}
.cart .cir{
  width:7px;
  height:7px;
  border:1px solid #F5F5F7;
  border-radius:50%;
  position:absolute;
  top:-6px;
  left:4px;
  z-index:-1;
}
.search_2{
  width:300px;
  background:#1D1D1F;
  display:none;
  height:40px;
  margin-top:100px;
  
  
}
.search_2 input{
  margin:0px 0px 0px 40px;
  width:250px;
  outline:none;
  position:relative;
  top:-20px;
  background:#1D1D1F;
  border:none;
  color:#F5F5F7 ;
  
}
.search_2 .fa{
  position:relative;
  top:7px;
  font-size:20px;
  padding-left:10px;
}
.top .menu{
  position:absolute;
  top:10px;
  display:none ;
}
.top .rect_1{
  width:20px;
  height:2px;
  background:#A2A3AC;
  position:relative;
  left:10px;
  top:5px;
  outline:none;
  transition:0.25s ease;
}
.top .rect_2{
 width:20px;
 height:2px;
 background:#A2A3AC;
 position:relative;
 top:9px;
 left:10px;
 outline:none;
 transition:0.25s ease;
}
.section_1{
  position:relative;
  top:40px;
  text-align:center;
  display:flex;
  justify-content:center;
  background:#F5F5F7;
}
.section_1 p{
  text-align:center;
  width:80%;
  padding-top:20px;
  padding-bottom:10px;
}
.section_1 p a{
  color:#3C93FF;
  padding-top:20px;
  text-decoration:none;
}
.section_2{
  margin-top:50px;
  text-align:center;
  background:#FBFBFD ;
}
.section_2 p{
  margin-left:-20px;
}
.section_2 a{
  margin-left:20px;
  color:#3C93FF;
  text-decoration:none;
}
.section_2 .img_1{
  max-width:350px;
  display:none;
  
}
.section_2 .img_2{
  max-width:800px;
}
.section_2 h4{
  margin-top:50px;
}
.section_2 .img_3{
  max-width:100%;
  display:none;
}
.section_2 .img_4{
  max-width:800px;
}
.section_2 span{
  border:2px solid black;
  padding:0px 3px;
  border-radius:10px;
  font-size:18px;
}
.section_3{
  background:#000000;
  text-align:center;
  color:white;
  padding-top:20px;
  
}
.section_3 .img_5{
  max-width:300px;
  margin-top:20px;
}
.section_3 a{
  margin-left:20px;
  color:#3C93FF;
  text-decoration:none;
}
.section_3 span{
  background:linear-gradient(#4C168C,#F2E7FF);
  color:transparent;
  clip-path:text;
  -webkit-background-clip: text;
  font-family: 'Pacifico', cursive;
}
.cards{
  width:100%;
  background:white;
  margin-top:10px;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  
}
.card{
  max-width:49%;
}
.card_1{
  background:black;
  color:#E5FFFC;
  text-align:center;
  padding-bottom:10px;
}
.cards a{
  text-decoration:none;
  color:#3C93FF;
  margin-left:10px;
}
.card img{
  width:100%;
}
.card p{
  font-size:0.9em;
}
.card_2{
  background: #FBFBFD ;
  padding-top:30px;
  margin-left:10px;
}
.card_2 .red{
  color:red;
}
.card_3{
  background: #FBFBFD ;
  margin-top:10px;
  padding-bottom:50px;
  padding-top:30px;
}
.card_3 img{
  width:80%;
  margin-top:50px;
  
}
.card_4{
  background: #FBFBFD ;
  margin-top:10px;
  padding-top:30px;
  padding-bottom:50px;
}
.card_4 img{
  width:80%;
  margin-top:100px;
}
.card_5{
  background: #FBFBFD ;
  margin-top:10px;
  
  
}
.card_5 img{
  margin-top:70px;
  margin-bottom:10px;
  
}
.card_6{
  background:url("https://i.postimg.cc/8CkvRyLc/promo-severance-fdkdommf27mi-medium-2x.jpg");
  color:white;
  background-size:cover;
  background-position:center;
  padding-bottom:50px;
  min-width:470px;
  margin-top:10px;
}
.card_6 h2{
  padding-top:280px;
  
  
}
.card_6 h1{
  font-size:40px;
}
footer{
  background:#F5F5F7;
  margin-top:10px;
}
footer p{
  font-size:13px;
  color:#6E6E73;
  padding:10px;
  margin-bottom:30px;
}
footer hr{
  width:90%;
  margin-left:5%;
  margin-top:-20px;
}
footer details{
  padding:20px;
}
footer details summary {
  outline:none;
  font-size:13px;
  padding:0px;
  position:relative;
  color:#6E6E73;
  top:-10px;
}
footer details ul li{
  list-style:none;
  color:#6E6E73;
  font-size:12px;
}
footer .para{
  font-size:11px;
}
footer .para span{
  color:#2BAEFF;
}
@media only screen and (max-width:700px){
.top{
  align-items:initial;
}
.top nav ul{
   display:block;
   margin-top:30px;
   height:10px;
   font-size:20px;
   margin-left:-30px;
   overflow:hidden;
   transition:0.4s;
 }
.top ul li{
   margin-top:10px;
   border-bottom:1px solid #4D4D4F;
   width:300px;
   padding-bottom:10px;
 }
.top .menu{
  display:block;
}
.cart{
  top:15px;
}
.search_1{
  display:none;
}
.search_2{
  display:block;
  
}
.top .logo{
  position:relative;
  left:50%;
}
.section_2 .img_2{
  display:none;
}
.section_2 .img_1{
  display:block;
}
.section_2 .img_3{
  display:block;
}
.section_2 .img_4{
  display:none;
}
.card{
 max-width:100%;
}
.cards {
  display:block;
}
.card_6{
  min-width:100vw;
}
}
